# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a


# Other
*.txt
*.out
*.swp
*~
\#*
.\#*
old/
dist/
debug/
*.dSYM/*
prof
BFGraph
Naive
data/
core
[dD]oxy*
