# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# From SWIG
*_wrap.cxx
graph.py

# Other
*.pyc
*.dot
*.contigs
*.graph
*.png
*.txt
*.out
*.swp
*~
\#*
.\#*
old/
dist/
debug/
*.dSYM/*
prof
BFGraph
Naive
data/
core
html/
latex/
man/
