# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a


# Other
*.txt
*.swp
*~
\#*
.\#*
old/
dist/
debug/
gmon.out
*.dSYM/*
prof
BFGraph
Naive
TODO
data/
