KmerTest
KmerTestExtended
CompressedSequenceTest
BloomFilterTest
BlockedBloomFilterTest
KmerMapperTest
KmerIteratorTest
SimpleMultithreadTest
CompressedCoverageTest
ContigMethodsTest
ContigMapperTest
*.txt
